<div
  class="modal fade"
  id="create"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tạo bộ câu hỏi</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/questions/exams/create" method="POST">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4">Tên câu hỏi</label>
              <input
                type="text"
                class="form-control"
                name="name"
                required="true" 
                placeholder="Tên câu hỏi"
              />
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Mô tả</label>
              <textarea
                type="text"
                required="true" 
                class="form-control"
                name="description"
                placeholder="Mô tả"
              ></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Tạo mới</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
