<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin bộ câu hỏi</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/questions/exams/edit" method="POST">
          <div class="form-row">
            <input type="hidden" name="id" id="txtId">
            <div class="form-group col-md-12">
              <label>Tên câu hỏi</label>
              <input
                type="text"
                class="form-control"
                name="name"
                id="txtName"
                placeholder="Tên câu hỏi"
              />
            </div>
            <div class="form-group col-md-12">
              <label>Mô tả</label>
              <textarea
                type="text"
                id="txtDescription"
                class="form-control"
                name="description"
                placeholder="Mô tả"
              ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>