<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Quản lý thi trắc nghiệm</title>

    <% include ../partials/css %>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <% include ../partials/sidebar %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <% include ../partials/topbar %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Quản lý thi trắc nghiệm</h1>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between" >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Danh sách các bộ câu hỏi
                      </h6>
                      <button
                        type="button"
                        class="btn btn-success btn-sm"
                        data-toggle="modal"                        
                        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                        data-target="#create"
                      >
                        Tạo bộ câu hỏi
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Tên bộ câu hỏi</th>
                            <th>Mô tả</th>
                            <th>Số lượng câu hỏi</th>
                            <th>Hành động</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% exams.map((item, index) => { %>
                          <tr>
                            <td><%- index + 1%></td>
                            <td><%- item.name %></td>
                            <td><%- item.description %></td>
                            <td><%- item.questions.length %></td>
                            <td>
                              <a
                                href="/questions/<%- item._id %>/list"
                                class="btn btn-success btn-sm"
                                title="Xem chi tiết"
                              >
                                Chi tiết
                              </a>
                              <a      
                                href="#"
                                class="btn btn-warning btn-sm btn-edit" 
                                data-id="<%- item._id %>"
                                title="Chỉnh sửa bộ câu hỏi"
                                >
                                Sửa
                              </a>
                              <a
                                href="#"
                                title="Xóa bộ câu hỏi"
                                class="btn btn-danger btn-sm"
                                onclick="showDeleteConfirmModal('<%- item._id %>')"
                              >
                                Xóa
                              </a>
                              <% if(!item.isPublish) { %>
                                <a data-id="<%- item._id %>" data-status="true" href="#" class="btn btn-primary btn-sm btn-change-status">Cho phép thi</a>
                              <% } else {%>
                                <a data-id="<%- item._id %>" data-status="false" href="#" class="btn btn-primary btn-sm btn-change-status">Ngừng thi</a>
                              <% } %>
                            </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <% include ../partials/footer %>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <% include ./createExams %>
    <% include ./editExams %>
    <% include ../partials/logout %>
    <% include ../partials/scripts %>
    <% include ./deleteConfirmModal %>

    <script src="/js/question.index.js"></script>
  </body>
</html>
