<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Bộ câu hỏi</title>

    <% include ../partials/css %>
  </head>

  <body id="page-top">
    <div id="urlPostEdit" class="d-none" data-action="/questions/exams/<%- exams._id %>/questions/"></div>
    <!-- Page Wrapper -->
    <div id="wrapper">
      <% include ../partials/sidebar %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <% include ../partials/topbar %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Bộ câu hỏi <%- exams.name %></h1>
              <div class="float-right">
                <a href="/questions" class="btn btn-secondary btn-sm">Quay lại trang trước</a>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <div
                      class="d-sm-flex align-items-center justify-content-between"
                    >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Thông tin bộ câu hỏi
                      </h6>
                    </div>
                  </div>
                  <div class="card-body">
                    <b class="text-dark">Bộ câu hỏi:</b> <%- exams.name %> <br>         
                    <b  class="text-dark">Trạng thái: </b> 
                    <% if(exams.isPublish) {%>
                      <span class="badge badge-primary">Cho phép thi</span>
                    <%} else {%>
                      <span class="badge badge-primary">Không cho phép thi</span>
                    <%}%><br> 
                    <p><b class="text-dark">Mô tả:</b>&nbsp;<%- exams.description %></p>                
                  </div>
                </div>
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">
                        Danh sách các câu hỏi
                      </h6>
                      <div class="dropdown">
                          <button class="btn btn-success btn-sm dropdown-toggle"
                            id="dropdownMenuButton" data-toggle="dropdown" title="Thêm câu hỏi mới cho bộ câu hỏi: <%- exams.name%>"
                            aria-haspopup="true" aria-expanded="false">Thêm câu hỏi</button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" 
                              data-toggle="modal" 
                              title="Thêm câu hỏi dạng hình ảnh"
                              data-target="#createImage" 
                              href="#">
                              Hình ảnh
                            </a>
                            <a class="dropdown-item"
                               data-toggle="modal"
                               title="Thêm câu hỏi dạng video"
                               data-target="#createVideo" href="#">
                              Video
                            </a>
                            <a class="dropdown-item" 
                            data-toggle="modal" 
                            title="Thêm câu hỏi dạng chữ"
                            data-target="#createText" 
                            href="#">Chữ</a>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th width="80px">STT</th>
                            <th>Tên câu hỏi</th>
                            <th width="200px">Loại câu hỏi</th>
                            <th width="120px">Hành động</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/ %>
                          <% exams.questions.map((item, index) => { %>
                          <tr>
                            <td><%- index + 1%></td>
                            <td>
                                <% if(item.questionType === 'VIDEO') {%>
                                  <iframe width="200" height="100" src="//www.youtube.com/embed/<%- item.question.match(regExp) ? item.question.match(regExp)[2] :'' %>" 
                                  frameborder="0" allowfullscreen></iframe>
                                <% } else if(item.questionType === 'IMAGE') {%>
                                  <a target="_blank" href="<%- item.question %>"><img width="200" height="100"  src="<%- item.question %>" alt="Hình ảnh câu hỏi"></a>
                                <% } else {%>
                                  <%- item.question %>
                                <%}%>
                            </td>
                            <td>
                              <% if(item.questionType === "TEXT") { %>
                                Câu hỏi dạng chữ
                              <% } else if(item.questionType === "VIDEO") { %>
                                Câu hỏi dạng video  
                              <% } else { %>
                                Câu hỏi dạng hình ảnh
                              <% } %>
                            </td>
                            <td>
                              <a
                                href="#"
                                class="btn btn-success btn-sm"
                                onclick="viewQuestion('<%- item._id %>')">
                                Chỉnh sửa
                              </a>
                              <a
                                href="#"
                                class="btn btn-danger btn-sm"
                                onclick="showDeleteConfirmModal('<%- exams._id %>', '<%- item._id %>')"
                              >
                                Xóa
                              </a>
                            </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <% include ../partials/footer %>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <% include ./createQuestions %>
    <% include ./createImage %>
    <% include ./createVideo %>
    <% include ./viewText.ejs %> 
    <% include ./viewImage.ejs %>
    <% include ./viewVideo.ejs %> 
    <% include ../partials/logout %> 
    <% include ../partials/scripts %> 
    <% include ./deleteConfirmModal %>
    <script src="/js/question.question.js"></script>
  </body>
</html>
