<table class="table">
   <thead>
     <tr>
       <th class="text-center" width="70px">STT</th>
       <th width="40%">Câu hỏi</th>
       <th width="30%">Câu trả lời</th>
       <th width="100px">Kết quả</th>
     </tr>
   </thead>
    <tbody>
      <% var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/ %>
      <% answerInfo.map( (item, index) => {%>
        <tr>
          <td class="text-center"><%- index + 1 %></td>
          <td>
            <% if(item.question.questionType === 'VIDEO') {%>
              <iframe width="200" height="100" src="//www.youtube.com/embed/<%- item.question.question.match(regExp)? item.question.question.match(regExp)[2] : '' %>" 
              frameborder="0" allowfullscreen></iframe>
            <% } else if(item.question.questionType === 'IMAGE') {%>
              <a target="_blank" href="<%- item.question.question%>"><img width="200" height="100"  src="<%- item.question.question %>" alt="Hình ảnh câu hỏi"></a>
            <% } else {%>
              <%- item.question.question %>
            <%}%>
          </td>
          <td><%- item.answer.text %></td>
          <td>
            <% if (item.answer._id.toString() == item.question.correctAnswer.toString()) {%>
              <div class="text-success">Đúng</div>
            <%} else {%>
              <div class="text-danger">Sai</div>
            <%}%>
          </td>
        </tr>
      <%}) %>        
    </tbody>
</table>