<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <title>Lịch sử trả lời</title>

  <% include ../partials/css %>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <% include ../partials/sidebar %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <% include ../partials/topbar %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Content Row -->
          <div class="row">
            <div class="col-lg-12">
              <!-- The Modal -->

              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <div class="d-sm-flex align-items-center justify-content-between">
                    <b class="text-primary">
                      Lịch sử trả lời bộ câu hỏi: <%- exam.name %>
                    </b>
                    <a class="float-right btn btn-sm btn-secondary" href="/questions/exam/numberofwards">Quay lại</a>
                  </div>
                </div>
                  <!-- main table -->
                  <div class="card-body">                    
                    <div class="d-inline form-inline" id="slWardFilterArea">
                      Đơn vị: 
                      <select data-id="<%- exam._id %>" id="slWardFilter"                        
                        class="form-control form-control-sm">
                        <option value="all">Tất cả</option>
                        <% wards.map(item => { %>
                          <option value="<%- item._id %>"  <%- item._id == wardId? 'selected': '' %>>
                            <%- item.name %>
                          </option>
                        <%})%>
                      </select>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>STT</th>
                            <th>Đơn vị trả lời</th>
                            <th style="width: 100px;">Số câu đúng</th>
                            <th>Thời gian</th>
                            <th style="width: 100px;">Hành động</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% resInfo.map((item, index) => { %>
                            <tr>
                              <td><%- index + 1 %></td>
                              <td><%- item.ward.name %></td>
                              <td class="text-center"><%- item.numberCorrect %></td>
                              <td>
                                  <%- item.createdDate.getDate() %>/
                                  <%- item.createdDate.getMonth() + 1%>/
                                  <%- item.createdDate.getFullYear() %>,
                                  <%- item.createdDate.getHours() % 12 %> :
                                  <%- item.createdDate.getMinutes() %>
                                  <%- item.createdDate.getHours() > 12 ? 'PM' : 'AM' %>   
                              </td>
                              <td class="text-center">
                                <a href="#" data-id="<%- item._id %>" 
                                  class="btn btn-success btn-sm btn-detail-res">
                                  Chi tiết
                                </a>
                              </td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <% include ../partials/footer %>
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->


   <!-- detail modal -->
   <div class="modal fade" id="modal-detail">
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <b class="text-primary modal-title">Chi tiết câu trả lời</b>   
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>                       
          </div>
          <!-- Modal body -->
          <div class="modal-body" style="word-break: break-word;"> 
            <div class="table-responsive" id="detailContent">
                 
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div> 


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <% include ../partials/scripts %>
  <script>
    $("#dataTable").dataTable();
  </script>
  <script src="/js/examResponseHistory.js"></script>

  
</body>

</html>