<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <title> Danh sách bộ câu hỏi đã có người thi</title>

  <% include ../partials/css %>
</head>

<body id="page-top">




  <!-- Page Wrapper -->
  <div id="wrapper">
    <% include ../partials/sidebar %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <% include ../partials/topbar %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Content Row -->
          <div class="row">
            <div class="col-lg-12">
              <!-- The Modal -->

              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <div class="d-sm-flex align-items-center justify-content-between">
                    <b class="text-primary">
                      Danh sách bộ câu hỏi đã có người thi
                    </b>
                  </div>
                </div>

                  <!-- main table -->
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>STT</th>
                            <th>Bộ câu hỏi</th>
                            <th>Số đơn vị tham gia trả lời</th>
                            <th>Hành động</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% data.map((item,index)=>{%>
                          <tr>
                            <td><%- index+1%></td>
                            <td style="width:40%"><%- item.exam[0].name %></td>
                            <td><%- item.wards.length%></td>
                            <td style="width:20%">
                              <a href="/questions/exams/<%- item._id %>/exams-response-history" class="btn btn-sm btn-info">Lịch sử trả lời</a>
                              <a href="/questions/exam/<%- item._id %>/numberofcandidates" 
                                class="btn btn-sm btn-primary">Chi tiết</a>
                            </td>
                          </tr>
                        <%})%>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <% include ../partials/footer %>
      <% include ../partials/scripts %>
      <script>
        $("#dataTable").dataTable();
      </script>
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

</body>

</html>