<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <title>SB Admin 2 - Dashboard</title>

  <% include ../partials/css %>
</head>

<body id="page-top">




  <!-- Page Wrapper -->
  <div id="wrapper">
    <% include ../partials/sidebar %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <% include ../partials/topbar %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          
          <!-- Content Row -->
          <div class="row">
            <div class="col-lg-12">
              <!-- The Modal -->
              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header">
                  <div class="d-sm-flex align-items-center justify-content-between">
                    <b class="text-primary"> Chi tiết trả lời câu hỏi</b>
                    <a href="/questions/exam/numberofwards" class="btn btn-sm btn-secondary float-right">Quay lại</a>
                  </div>
                </div>
                  <!-- main table -->
                  <div class="card-body">
                    <div class="table-responsive">
                      <div>
                        <h4 class="text-dark">Bộ câu hỏi: <%- examName.name%></h4>
                      </div><hr>
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>STT</th>
                            <th>Tên câu hỏi</th>
                            <th>Loại câu hỏi</th>
                            <th>Số người trả lời</th>                            
                          </tr>
                        </thead>
                        <tbody>
                          <% var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/ %>
                          <% data.map((item,index)=> { %>
                          <tr>
                            <td><%- index+1%></td>
                            <td style="width:40%">
                              <% if(item.question.questionType === 'VIDEO') {%>
                                <iframe width="200" height="100" src="//www.youtube.com/embed/<%- item.question.question.match(regExp) ? item.question.question.match(regExp)[2]:''%>" 
                                frameborder="0" allowfullscreen></iframe>
                              <% } else if(item.question.questionType === 'IMAGE') {%>
                                <a target="_blank" href="<%- item.question.question%>"><img width="200" height="100"  src="<%- item.question.question %>" alt="Hình ảnh câu hỏi"></a>
                              <% } else {%>
                                <%- item.question.question %>
                              <%}%>
                            </td>
                            <td>
                                <% if(item.question.questionType === "TEXT") { %>
                                  Câu hỏi dạng chữ
                                <% } else if(item.question.questionType === "VIDEO") { %>
                                  Câu hỏi dạng video  
                                <% } else { %>
                                  Câu hỏi dạng hình ảnh
                                <% } %>
                            </td>
                            <td><%- item.count %></td>                            
                          </tr>
                        <%})%>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <% include ../partials/footer %>
      <% include ../partials/scripts %>
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <script>
    $("#dataTable").dataTable();
  </script>
</body>
</html>