<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tạo quản trị viên mới</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='updateForm' action="/users" method="POST">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Title">Tài khoản đăng nhập</label>
                <input
                  type="text"
                  name="username"
                  class="form-control"
                  required='true'
                  id="username"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input
                  type="password"
                  name="password"
                  required='true'
                  class="form-control"
                  id="password"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="fullname">Họ và tên</label>
                <input
                  type="text"
                  name="fullname"
                  required='true'
                  class="form-control"
                  id="fullname"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="position">Chức vụ</label>
                <input
                  type="text"
                  required='true'
                  name="position"
                  class="form-control"
                  id="position"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlFile1">Đơn vị<span class="text-danger">*</span></label>          
                <select class="form-control" id="sl_wards" name="wardId" required='true'>
                  <option value="*" selected>Thường trực quận đoàn</option>
                  <% wards.map(item => { %>
                   <option value="<%- item._id %>"><%- item.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Đóng
            </button>
            <button type="submit" class="btn btn-primary">Tạo mới</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
