<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <title>Danh sách các quản trị viên</title>

    <% include ../partials/css %>
  </head>

  <body id="page-top">
    <!-- local variable from server -->
    <div id="news_local" style="display:none"></div>

    <!-- Page Wrapper -->
    <div id="wrapper">
      <% include ../partials/sidebar %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <% include ../partials/topbar %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Quản lý quản trị viên</h1>
            </div>

            <!-- Content Row -->

            <div class="row">
              <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <div
                      class="d-sm-flex align-items-center justify-content-between"
                    >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Danh sách các quản trị viên
                      </h6>
                      <button
                        type="button"
                        class="btn btn-success btn-sm"
                        data-toggle="modal"
                        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                        data-target="#editModal"
                      >
                        Tạo quản trị viên mới
                      </button>
                    </div>
                  </div>

                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th>STT</th>
                            <th>Tài khoản</th>
                            <th>Họ tên</th>
                            <th>Chức vụ</th>
                            <th>Hành động</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>STT</th>
                            <th>Tài khoản</th>
                            <th>Họ tên</th>
                            <th>Chức vụ</th>
                            <th>Hành động</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <% users.map((item, index) => { %>
                          <tr>
                            <td style="width:5%"><%- index + 1 %></td>
                            <td style="width:25%">
                              <%- item.username %>
                              <% if(item.id == currentId) {%>
                                <span class="badge badge-info">Tài khoản hiện tại</span>
                              <%}%> 
                            </td>
                            <td style="width:30%">                           
                              <%- item.fullname %>
                            </td>
                            <td style="width:15%">
                              <%- item.position %>
                            </td>
                            <td style="width:30%">
                              <% if(item.id !== currentId) {%>
                                <button
                                data-toggle="modal"
                                data-target="#deleteModal"
                                type="button"
                                class="btn btn-danger btn-sm btn-icon-split"
                                onclick="seleteId('<%- item._id %>')"
                              >
                                <span class="text">Xóa</span>
                              </button>
                              <%} %>
                   
                              <button
                                data-toggle="modal"
                                data-target="#updateModal"
                                type="button"
                                class="btn btn-warning btn-sm btn-icon-split"
                                onclick="loadDataToModal('<%- item._id%>')"
                              >
                                <span class="text">Sửa</span>
                              </button>
                            </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <% include ../partials/footer %>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <% include ../partials/logout %> <% include ../partials/scripts %> <%
    include ./deleteModal %>
    <% include ./editModal %>
    <% include ./updateModal %>
    <script type="text/javascript" src="/js/bootstrap-multiselect.js"></script>

    <!-- Page level custom scripts -->
    <script>
      // Call the dataTables jQuery plugin
      $(document).ready(function() {
        $("#dataTable").DataTable();
      });
      var selectId = "";
    </script>
    <!-- <script src="/js/dropzone.js"></script> -->
    
    <script>
      function seleteId(id) {
        selectId = id;
      }
      function deleteUsers() {
        $.ajax({
          url: `/users/${selectId}`,
          method: "DELETE",
          success: data => {
            window.location.reload();
          }
        });
      }
      function showNews(id) {
        selectId = id;
        $.ajax({
          url: `/news/api/${id}`,
          method: "GET",
          success: res => {
            $("#newsImg").attr("src", res.data.imageLink);
            $("#newsTitle").text(
              `${res.data.title} - ${res.data.category.title}`
            );
            $("#newsContent").text(res.data.content);
            $("#newsShortDescription").text(res.data.shortDescription);
          }
        });
      }
      function loadDataToModal(id) {
        selectId = id;
        $.ajax({
          url: `/users/${id}`,
          method: "GET",
          success: res => {
            $("#username_edit").val(res.data.username);
            $("#fullname_edit").val(res.data.fullname);
            $("#position_edit").val(res.data.position);
            $('#updateForm_edit').attr('action', '/users/' + res.data._id);
          }
        });
      }
    </script>
  </body>
</html>
