<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <title>Danh sách các quản trị viên</title>

    <% include ../partials/css %>
  </head>

  <body id="page-top">
    <!-- local variable from server -->
    <div id="news_local" style="display:none"></div>

    <!-- Page Wrapper -->
    <div id="wrapper">
      <% include ../partials/sidebar %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <% include ../partials/topbar %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Tài khoản</h1>
            </div>

            <!-- Content Row -->

            <div class="row">
              <div class="col-md-6 col-lg-6">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between" >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Thông tin người dùng
                      </h6>                      
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">      
                      <table class="table">
                        <tr>
                          <td width="30%  ">Họ tên: </td>
                          <td><%- user.fullname %></td>
                        </tr>
                        <tr>
                          <td>Tên đăng nhập: </td>
                          <td><%- user.username %></td>
                        </tr>
                        <tr>
                          <td>Chức vụ: </td>
                          <td><%- user.position %></td>
                        </tr>
                      </table>   
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between" >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Đổi mật khẩu
                      </h6>                      
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">  
                      <form action="/users/password" method="POST" id="frmChangePass">
                        <div class="form-group" >
                          <label>Mật khẩu hiện tại<span class="text-danger">*</span></label>
                          <input type="password" class="form-control" name="currentPass" required=true>
                        </div>
                        <div class="form-group">
                          <label>Mật khẩu mới<span class="text-danger">*</span></label>
                          <input id="newPass" type="password" class="form-control" name="newPass" required=true >
                        </div>
                        <div class="form-group">
                          <label>Nhập lại mật khẩu<span class="text-danger">*</span></label>
                          <input id="confirmPass" type="password" class="form-control" name="confirmPass" required=true >
                          <span id="confirmPassErr" class="text-danger d-none">Mật khẩu không khớp</span>
                        </div>
                        <button class="btn btn-primary">Đổi mật khẩu</button>
                      </form>                
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <% include ../partials/footer %>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <% include ./updateModal %>
    <% include ../partials/logout %>
    <% include ../partials/scripts %>     
    <script>
      $(document).ready(function() {
        $("#frmChangePass").on('submit', function(e) {
          e.preventDefault();
          $("#confirmPassErr").addClass('d-none')
          if ($("#newPass").val() === $("#confirmPass").val()) {
            $.ajax({
              url: '/users/password',
              type: 'POST',
              data: $("#frmChangePass").serialize(),
              success: function(res) {
                alert("Đổi mật khẩu thành công");
              },
              error: function(err) {
                if(err.status === 406) {
                  alert(err.responseJSON.message);
                } else {
                  alert("Xảy ra lỗi, không thể đổi mật khẩu!");
                }              
              }
            }); 
            $("#frmChangePass")[0].reset();           
          } else {
            $("#confirmPassErr").removeClass('d-none')
          }
        });
      });
    </script>
  </body>
</html>
