<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tạo quản trị viên mới</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='updateForm_edit' action="/users" method="POST">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="Title">Tài khoản đăng nhập</label>
                <input
                  type="text"
                  name="username"
                  required='true'
                  class="form-control"
                  id="username_edit"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="fullname">Họ và tên</label>
                <input
                  type="text"
                  name="fullname"
                  required='true'
                  class="form-control"
                  id="fullname_edit"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="position">Chức vụ</label>
                <input
                  type="text"
                  name="position"
                  required='true'
                  class="form-control"
                  id="position_edit"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Đóng
            </button>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
