<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tạo thông báo mới</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/news" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Title">Title<span class="text-danger">*</span></label>
                <input
                  type="text"
                  name="title"
                  required='true'
                  class="form-control"
                  id="Title"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="shortDescription">Mô tả ngắn<span class="text-danger">*</span></label>
                <input
                  type="text"
                  name="shortDescription"
                  class="form-control"
                  required='true'
                  id="shortDescription"
                />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="content">Mô tả chi tiết<span class="text-danger">*</span></label>
            <textarea
              required='true'
              type="text"
              name="content"
              class="form-control"
              id="content"
              rows="3"
            ></textarea>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlFile1">Loại thông báo<span class="text-danger">*</span></label>
                <div class="input-group mb-3">                   
                    <select class="form-control" name="category" id="slNewCategory"  required='true'>
                      <% categories.map(item => { %>
                        <option value="<%- item._id %>"><%- item.title %></option>
                      <% }) %>
                    </select>
                    <div class="input-group-append">
                        <button
                          class="btn btn-success"
                          data-toggle="modal"
                          data-target="#createNewCategory"
                          onclick="event.preventDefault();
                          document.getElementById('txtCategoryTitle').value=''"
                        >
                        <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>            
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlFile1">Thông báo đến<span class="text-danger">*</span></label>          
                <select class="form-control" id="sl_wards" name="wards" multiple  required='true'>
                  <!-- <option value="all" selected>Thông báo cho tất cả đơn vị</option> -->
                  <% wards.map(item => { %>
                   <option value="<%- item._id %>"><%- item.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                  <label>Upload hình ảnh
                      <span class="text-danger">*</span>
                  </label>
                <div class="custom-file">
                    <label  class="custom-file-label" for="fileCreateInput">Chọn hình ảnh</label>
                    <input class="custom-file-input" id="fileCreateInput" required='true' 
                      type="file" id="fileImg" name="file"  accept="image/*"/>          
                    <span class="text-danger fail-file d-none">Sai định dạng file</span>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row" style="width: 100%">
              <div class="col-12 text-right">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Đóng
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                >
                  Tạo mới
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="createNewCategory"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tạo nhóm thông báo mới</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/categories" id="frmCreateNewCategory">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="Title">Title</label>
                <input
                  type="text"
                  name="title"
                  required='true'
                  class="form-control"
                  id="txtCategoryTitle"
                />
              </div>
            </div>            
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Đóng
            </button>
            <button type="submit" id="btnSubmitCategory" class="btn btn-primary">Tạo mới</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
