<!-- Create Modal -->
<div
  class="modal fade"
  id="create-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Yêu cầu kiểm duyệt văn bản
        </h5>

        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/documents" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div><b class="text-dark">Tên văn bản: </b></div>
                <input
                  autofocus
                  id="txtbox-name"
                  class="form-control"
                  type="text"
                  name="title"
                  required
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <div><b class="text-dark">Mô tả văn bản </b></div>
                <textarea
                  required="true"
                  type="text"
                  name="description"
                  class="form-control"
                  id="content"
                  rows="3"
                ></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label
                  >Upload văn bản
                  <span class="text-danger">*</span>
                </label>
                <div class="custom-file">
                  <label class="custom-file-label" for="fileCreateInput"
                    >Chọn văn bản</label
                  >
                  <input
                    class="custom-file-input"
                    id="fileCreateInput"
                    required="true"
                    type="file"
                    id="fileImg"
                    name="file"
                    accept=".xlsx, .xls, .doc, .docx, .ppt, .pptx, .txt, .pdf"
                  />
                  <!-- <span class="text-danger fail-file d-none"
                    >Sai định dạng file</span
                  > -->
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary "
              type="button"
              data-dismiss="modal"
            >
              Hủy
            </button>
            <button class="btn btn-primary" type="submit">
              Tạo mới
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
