<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Danh sách các phản hồi</title>

    <% include ../partials/css %>
  </head>

  <body id="page-top">
    <div
      class="modal fade"
      id="delete-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Bạn có chắc muốn xóa ?
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Không thể hoàn tác sau khi xóa</div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary "
              type="button"
              data-dismiss="modal"
            >
              Hủy
            </button>
            <button
              id="btn-confirm-delete-task"
              data-dismiss="modal"
              class="btn btn-primary"
            >
              Xóa
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Wrapper -->
    <div id="wrapper">
      <% include ../partials/sidebar %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <% include ../partials/topbar %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Danh sách các phản phồi</h1>
              <div class="float-right">
                <a href="/documents" class="btn btn-secondary btn-sm">Quay lại trang trước</a>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <div
                      class="d-sm-flex align-items-center justify-content-between"
                    >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Thông tin chi tiết
                      </h6>
                    </div>
                  </div>
                  <div class="card-body">
                    <b class="text-dark">Tên văn bản:</b>
                        <%- documents.title %>
                    <br>
                    <b class="text-dark">Mô tả:</b>
                        <%- documents.description %>
                    <br>
                    <b class="text-dark">Ngày tạo:
                        <%- documents.createdDate.getDate() %>/
                        <%- documents.createdDate.getMonth() + 1%>/
                        <%- documents.createdDate.getFullYear() %>
                    </b>
                    <br>
                    <b class="text-dark">Người tạo:
                      <%- documents.createdBy.fullname %>/
                    </b>
                    <br>
                    <b class="text-dark">Link tải: <a href="<%- documents.documentLink %>">Tại đây</a>
                    </b>
                  </div>
                </div>
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">
                        Danh sách các phản hồi
                      </h6>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th width="80px">STT</th>
                            <th>Người phản hồi</th>
                            <th>Chức vụ</th>
                            <th>Phản hồi</th>
                            <th>Tình trạng</th>
                            <th>Thời gian</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% documents.feedback.map((item, index) => { %>
                          <tr>
                            <td>
                                <%- index + 1%>
                            </td>
                            <td>
                                <%- item.belongTo.fullname %>
                            </td>
                            <td>
                                <%- item.belongTo.position %>
                            </td>
                            <td>
                                <%- item.comment %>
                            </td>
                            <td>
                                <%- item.status %>
                            </td>
                            <td>
                              <%- item.createdDate.getDate() %>/
                              <%- item.createdDate.getMonth() + 1%>/
                              <%- item.createdDate.getFullYear() %>
                            </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <% include ../partials/footer %>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <% include ../partials/logout %> 
    <% include ../partials/scripts %>
    <script type="text/javascript" src="/js/prettify.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-multiselect.js"></script> 
    
  </body>
</html>
