<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <title>Quản lý hoạt động</title>

    <% include ../partials/css %>
  </head>

  <body id="page-top">
    <!-- delete modal -->
    <div
      class="modal fade"
      id="delete-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Bạn có chắc muốn xóa ?
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Không thể hoàn tác sau khi xóa</div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Hủy
            </button>
            <button
              id="btn-confirm-delete"
              data-dismiss="modal"
              class="btn btn-primary"
            >
              Xóa
            </button>
          </div>
        </div>
      </div>
    </div>

    

    <!-- Page Wrapper -->
    <div id="wrapper">
      <% include ../partials/sidebar %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <% include ../partials/topbar %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Content Row -->
            <div class="row">
              <div class="col-lg-12">
                <!-- The Modal -->
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <div
                      class="d-sm-flex align-items-center justify-content-between"
                    >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Quản lý văn bản
                      </h6>
                      <button
                        id="btn-detail"
                        type="button"
                        class="btn btn-success btn-sm detail"
                        data-toggle="modal"
                        data-target="#create-modal"
                      >
                        <span class="text">Thêm văn bản</span>
                      </button>
                    </div>
                  </div>
                  <!-- main table -->
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th>STT</th>
                            <th>Văn bản</th>
                            <th>Ngày tạo</th>
                            <th>Tải về</th>
                            <th>Hành động</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% documents.map((item, index) => {%>
                          <tr>
                            <td><%- index+1 %></td>
                            <td><%- item.title %></td>
                            <td>
                              <%- item.createdDate.getDate() %>/ <%-
                              item.createdDate.getMonth() + 1%>/ <%-
                              item.createdDate.getFullYear() %>
                            </td>
                            <td>
                              <a href="<%- item.documentLink %>">Tải về</a>
                            </td>
                            <td style="width:35%">
                              <a
                                href="/documents/<%- item._id %>"
                                class="btn btn-success btn-sm detail"
                              >
                                <span class="text">Chi tiết</span>
                              </a>
                              <button
                                id-documents="<%- item._id%>"
                                data-toggle="modal"
                                data-target="#delete-modal"
                                id="btn-delete"
                                class="btn btn-danger btn-sm delete"
                              >
                                <span class="text">Xóa</span>
                              </button>
                            </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <% include ../partials/footer %>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <% include ../partials/logout %> <% include ../partials/scripts %>
    <!-- Page level custom scripts -->
    <script type="text/javascript" src="/js/prettify.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="/js/documents.js"></script>
    <% include ./createDocs %>
  </body>
</html>
