<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Bạn có chắc muốn xóa ?
        </h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Khi thực hiện xóa nhóm thông báo này thì <span class="text-danger">tất cả </span> các thông báo trong nhóm sẽ bị xóa.
        <p class="text-danger">Không thể hoàn tác sau khi xóa</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary " type="button" data-dismiss="modal">
          Hủy
        </button>
        <a onclick="deleteCategory()" class="btn btn-primary" href="#">Xóa</a>
      </div>
    </div>
  </div>
</div>
