<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    
    <title>Nhóm thông báo</title>

    <% include ../partials/css %>
  </head>

  <body id="page-top">
    <!-- local variable from server -->

    <!-- Page Wrapper -->
    <div id="wrapper">
      <% include ../partials/sidebar %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <% include ../partials/topbar %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Phân loại thông báo</h1>
            </div>

            <!-- Content Row -->

            <div class="row">
              <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <div
                      class="d-sm-flex align-items-center justify-content-between"
                    >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Danh sách nhóm thông báo
                      </h6>
                      <button
                        type="button"
                        class="btn btn-success btn-sm"
                        data-toggle="modal"
                        class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                        data-target="#editModal"
                        onclick="showCreateForm()"
                      >
                        Tạo mới
                      </button>
                    </div>
                  </div>

                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th width="50px">STT</th>
                            <th>Tiêu đề</th>
                            <th>Ngày tạo</th>
                            <th width="100px">Hành động</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% categories.map((item, index) => { %>
                            <tr>
                              <td><%- index + 1 %></td>
                              <td><%- item.title %></td>
                              <td>
                                <%- item.createdDate.getDate() %>/
                                <%- item.createdDate.getMonth() + 1%>/
                                <%- item.createdDate.getFullYear() %>,
                                <%- item.createdDate.getHours() % 12 %> :
                                <%- item.createdDate.getMinutes() %>
                                <%- item.createdDate.getHours() > 12 ? 'PM' : 'AM' %>    
                              </td>
                              <td>
                                <button
                                  data-toggle="modal"
                                  data-target="#deleteModal"
                                  type="button"
                                  class="btn btn-danger btn-sm"
                                  onclick="seleteId('<%- item._id %>')"
                                >
                                  <span class="text">Xóa</span>
                                </button>
                                <button
                                  data-toggle="modal"
                                  data-target="#editModal"
                                  type="button"
                                  class="btn btn-warning btn-sm"
                                  onclick="loadDataToModal('<%- item._id%>')"
                                >
                                  <span class="text">Sửa</span>
                                </button>
                              </td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <% include ../partials/footer %>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <% include ../partials/logout %>
    <% include ../partials/scripts %>
    <% include ./editModal %>
    <% include ./deleteModal %>
     <script src="/js/category.js"></script>
  </body>
</html>
