<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn đăng xuất không?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Chọn "Đăng xuất" nếu bạn thật sự muốn đăng xuất khỏi hệ thống!.</div>
        <div class="modal-footer">
          <form action="/users/logout" method="POST">
            <a href="#" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</a>
            <button class="btn btn-primary" type="submit">Đăng xuất</button>
          </form>
        </div>
      </div>
    </div>
  </div>