<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon rotate-n-15">
        <!-- <i class="fas fa-laugh-wink"></i> -->
      </div>
      <div class="sidebar-brand-text mx-3">Bình Thạnh</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Chức năng
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    
    <li class="nav-item">
      <a class="nav-link" href="/news">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Quản lý thông báo</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/activities">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Quản lý hoạt động</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/questions">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Quản lý trắc nghiệm</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/todo-list">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Quản lý công việc</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/documents">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Kiểm duyệt văn bản</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/activities/diemdanh">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Thống kê điểm danh</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/questions/exam/numberofwards">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Số người tham gia thi</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Hệ thống
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link" href="/categories">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Phân loại thông báo</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Người dùng</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/wards">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Các đơn vị trực thuộc</span></a>
    </li>
   
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <!-- End of Sidebar -->