<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <title>Đơn vị trực thuộc</title>

    <% include ../partials/css %>
  </head>

  <body id="page-top">
    <!-- local variable from server -->

    <!-- Page Wrapper -->
    <div id="wrapper">
      <% include ../partials/sidebar %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <% include ../partials/topbar %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Quản lý các đơn vị trực thuộc</h1>
            </div>

            <!-- Content Row -->

            <div class="row">
              <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <div
                      class="d-sm-flex align-items-center justify-content-between"
                    >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Danh sách các thông báo
                      </h6>
                      <button
                        type="button"
                        class="btn btn-success btn-sm"
                        data-toggle="modal"
                        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                        data-target="#editModal"
                      >
                        Tạo đơn vị
                      </button>
                    </div>
                  </div>

                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th width="80px">STT</th>
                            <th>Tên đơn vị</th>
                            <th width="100px">Hành động</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% wards.map((item, index) => { %>
                          <tr>
                            <td><%- index + 1 %></td>
                            <td><%- item.name %></td>
                            <td>
                              <button
                                data-toggle="modal"
                                data-target="#deleteModal"
                                type="button"
                                class="btn btn-danger btn-sm btn-icon-split"
                                onclick="seleteId('<%- item._id %>')"
                              >
                                <span class="text">Xóa</span>
                              </button>
                              <button
                                data-toggle="modal"
                                data-target="#editModal"
                                type="button"
                                class="btn btn-warning btn-sm btn-icon-split"
                                onclick="loadDataToModal('<%- item._id%>')"
                              >
                                <span class="text">Sửa</span>
                              </button>
                            </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <% include ../partials/footer %>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <% include ../partials/logout %>
    <% include ../partials/scripts %>
    <% include ./editModal %>
    <% include ./deleteModal %>
    <!-- Page level custom scripts -->
    <script>
      // Call the dataTables jQuery plugin
      $(document).ready(function() {
        $("#dataTable").DataTable();
      });
      var selectId = "";
    </script>
    <!-- <script src="/js/dropzone.js"></script> -->

    <script>
      function seleteId(id) {
        selectId = id;
      }
      function deleteCategory() {
        $.ajax({
          url: `/wards/${selectId}`,
          method: "DELETE",
          success: (data) => {
            window.location.reload();
          }
        })
      }
      
      function loadDataToModal(id) {
        selectId = id;
        $.ajax({
          url: `/wards/${id}`,
          method: "GET",
          success: res => {
            $("#Title_Edit").val(res.data.name);
            $("#updateForm").attr("action", "/wards/" + selectId);
            $('#buttonForm').text("Chỉnh sửa")
          }
        });
      }
    </script>
  </body>
</html>
