<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <title>Quản lý hoạt động</title>

    <% include ../partials/css %>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <% include ../partials/sidebar %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <% include ../partials/topbar %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Content Row -->
            <div class="row">
              <div class="col-lg-12">
                <!-- The Modal -->
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                      <div class="d-sm-flex align-items-center justify-content-between" >
                        <h6 class="m-0 font-weight-bold text-primary">Danh sách người tham gia</h6>
                        <div class="form-inline d-inline" id="slFilter">
                            &nbsp;Đơn vị:&nbsp;
                            <select id="dr_ward" class="form-control form-control-sm"
                              onchange="changeFilter()"
                            >
                                <option value="all">Tất cả</option>
                                <% wards.map(item => {%>
                                  <option value="<%- item._id %>" 
                                    <%- item._id == wardId ? 'selected' : '' %>
                                  >
                                    <%- item.name %>
                                  </option>
                                <% }) %>
                             </select>
                          </div>
                      </div>
                  </div>
                    <!-- main table -->
                    <div class="card-body">     
                      <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable">
                          <thead>
                            <tr>
                              <th>Người tham gia</th>
                              <th>Đơn vị</th>
                              <th>Ngày tạo</th>
                            </tr>
                          </thead>
                          <tbody>      
                            <% if(activityJoined.length > 0) { %>
                              <% activityJoined.map(item => {%>
                                <%item.userJoined.map(user => {%>
                                  <tr>
                                    <td><%- user.name%></td>
                                    <td><%- item.wardInfo.name %></td>
                                    <td>
                                      <%- user.createdDate.getDate() %>/
                                      <%- user.createdDate.getMonth() + 1%>/
                                      <%- user.createdDate.getFullYear() %>,
                                      <%- user.createdDate.getHours() % 12 %> :
                                      <%- user.createdDate.getMinutes() %>
                                      <%- user.createdDate.getHours() > 12 ? 'PM' : 'AM' %>        
                                    </td>
                                  </tr>
                                <%})%>
                              <%}) %>
                            <% } %>                      
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <% include ../partials/footer %>
        <% include ./detailModal %>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <% include ../partials/logout %> <% include ../partials/scripts %>
    <script>
      $(document).ready(function() {
        $('#dataTable').dataTable();
        $('#dataTable_filter').append($('#slFilter'));
      });

      function changeFilter() {
        let baseURL = '/activities/<%-activityId %>/checkin-history?w=';
        let url = baseURL + document.getElementById('dr_ward').value;
        window.location = url;
      }
    </script>
  </body>
</html>
