   <!-- detail modal -->
   <div class="modal fade" id="modal-detail">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="text-primary modal-title">Chi tiết hoạt động</h4>   
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>                       
        </div>
        <!-- Modal body -->
        <div class="modal-body" style="word-break: break-word;"> 
          <div class="table-responsive">
              <table class="table">
                  <tbody>
                    <tr>
                      <td class="text-primary text-center font-weight-bold bg-light" colspan="2">
                        Hoạt động: <span id="detail-modal-name"></span>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="font-weight-bold text-primary">
                        <h5>Thông tin người tạo</h5>
                      </td>                 
                    </tr>
                    <tr>
                      <td>Người tạo</td>
                      <td id="detail-modal-createdBy">Mô tả</td>
                    </tr>
                    <tr>
                      <td>Ngày tạo</td>
                      <td id="detail-modal-createdDate">Mô tả</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="font-weight-bold text-primary"><h5>Thông tin chỉnh sửa</h5></td>                 
                    </tr>
                    <tr>
                      <td>Người chỉnh sửa</td>
                      <td>Ngày chỉnh sửa</td>
                    </tr>
                    <tr>
                      <td id="detail-modal-updatedBy"></td>
                      <td id="detail-modal-updatedDate"></td>
                    </tr>
                    <tr>
                      <td colspan="2"class="font-weight-bold text-primary"><h5>Mô tả</h5></td>                 
                    </tr>
                    <tr>
                      <td colspan="2" id="detail-modal-description">Mô tả</td>
                    </tr>
                  </tbody>
                </table>   
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-danger mx-auto" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
