<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <title>Điểm danh tham gia hoạt động</title>

  <% include ../partials/css %>
</head>

<body id="page-top">




  <!-- Page Wrapper -->
  <div id="wrapper">
    <% include ../partials/sidebar %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <% include ../partials/topbar %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Content Row -->
          <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Tổng số hoạt động
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <%-wardsjoined.length%>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Tổng số đơn vị tham gia
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <% var sum=0;%>
                        <%wardsjoined.map((item,index)=>{sum+=item.wardJoined.length})%>
                        <%= sum%>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <!-- The Modal -->

              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <div class="d-sm-flex text-primary align-items-center justify-content-between">
                    <b>Điểm danh tham gia hoạt động</b>
                  </div>
                </div>
                <!-- main table -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>STT</th>
                          <th>Tên hoạt động</th>
                          <th>Số đơn vị tham gia</th>
                          <th>Hành động</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% wardsjoined.map((item, index) => { %>
                        <tr>
                          <td><%- index + 1%></td>
                          <td style="width:40%"><%- item.activity.name %></td>
                          <td><%- item.wardJoined.length%></td>
                          <td style="width:35%">
                            <a href="/activities/wardsjoined/<%- item._id%>" class="btn btn-primary btn-sm">Chi tiết</a>
                          </td>
                        </tr>
                        <%})%>
                        <% if(wardsjoined.length <= 0) {%>
                          <tr>
                            <td colspan="4" class="text-center">
                              Chưa có dữ liệu để hiển thị
                            </td>
                          </tr>
                        <%} %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>

      <!-- End of Main Content -->

      <% include ../partials/footer %>
      <% include ../partials/scripts %>
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>
</html>