<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <title>Chỉnh sửa hoạt động</title>

    <% include ../partials/css %>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <% include ../partials/sidebar %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <% include ../partials/topbar %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-12">

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header">
                                    <h6 class="text-primary mt-2"><b>Chỉnh sửa thông tin hoạt động</b></h6>
                                </div>
                                <div class="card-body shadow mb-4">
                                    <!-- add activity input group -->
                                    <div>
                                        <div class="form-group">
                                            <div><b class="text-dark">Tên hoạt động: </b></div>
                                            <input autofocus id='txtbox-name' class="form-control"
                                                placeholder="Nhập tên hoạt động...">
                                            <span id="txtNameError" class="text-danger d-none">Không được để trống tên hoạt động</span>
                                        </div>
                                        <div class="form-group">
                                            <div><b class="text-dark">Mô tả hoạt động: </b></div>
                                            <div style='padding-top: 50px'
                                                class='summernote-add-description form-control'></div>
                                        </div>
                                        <div class="form-group">
                                            <button id-activity="<%- id%>" id='btn-submit' class="btn btn-primary" type="button">Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->

                <% include ../partials/footer %>
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <% include ../partials/logout %>
        <% include ../partials/scripts %>
        <!-- Page level custom scripts -->
        <script src="/js/activity.edit.js"></script>

</body>

</html>