<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <title>Quản lý hoạt động</title>

    <% include ../partials/css %>
  </head>

  <body id="page-top">
    
    <!-- delete modal -->
    <div
      class="modal fade"
      id="delete-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Bạn có chắc muốn xóa ?
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Không thể hoàn tác sau khi xóa</div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary "
              type="button"
              data-dismiss="modal"
            >
              Hủy
            </button>
            <button
              id="btn-confirm-delete"
              data-dismiss="modal"
              class="btn btn-primary"
            >
              Xóa
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Page Wrapper -->
    <div id="wrapper">
      <% include ../partials/sidebar %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <% include ../partials/topbar %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Content Row -->
            <div class="row">
              <div class="col-lg-12">
                <!-- The Modal -->
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                      <div class="d-sm-flex align-items-center justify-content-between" >
                        <h6 class="m-0 font-weight-bold text-primary">Quản lý hoạt động</h6>
                        <a class="btn btn-success btn-sm" href="/activities/insert">Thêm hoạt động</a>
                      </div>
                  </div>
                    <!-- main table -->
                    <div class="card-body">
                      <div class="table-responsive">
                        <table
                          class="table table-bordered"
                          id="dataTable"
                          width="100%"
                          cellspacing="0"
                        >
                          <thead>
                            <tr>
                              <th>STT</th>
                              <th>Tên hoạt động</th>
                              <th>Ngày tạo</th>
                              <th>Hành động</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% activities.map((item, index) => {%>
                            <tr>
                              <td><%- index+1 %></td>
                              <td style="width:40%"><%- item.name %></td>
                              <td>
                                  <%- item.createdDate.getDate() %>/
                                  <%- item.createdDate.getMonth() + 1%>/
                                  <%- item.createdDate.getFullYear() %>,
                                  <%- item.createdDate.getHours() % 12 %> :
                                  <%- item.createdDate.getMinutes() %>
                                  <%- item.createdDate.getHours() > 12 ? 'PM' : 'AM' %>
                              </td>
                              <td style="width:35%">
                                <button
                                  id-activity="<%- item._id %>"
                                  id="btn-detail"
                                  type="button"
                                  class="btn btn-success btn-sm detail"
                                  data-toggle="modal"
                                >
                                  <span class="text">Chi tiết</span>
                                </button>
                                <button
                                  id-activity="<%- item._id%>"
                                  data-toggle="modal"
                                  data-target="#delete-modal"
                                  id="btn-delete"
                                  class="btn btn-danger  btn-sm delete"
                                >
                                  <span class="text">Xóa</span>
                                </button>
                                <button
                                  id-activity="<%- item._id%>"
                                  id="myBtn"
                                  class="btn btn-warning edit  btn-sm"
                                >
                                  <span class="text">Sửa</span>
                                </button>
                                <button
                                  id-activity="<%- item._id%>"
                                  id="myBtn"
                                  class="btn btn-primary qrcode btn-sm"
                                >
                                  <span class="text">Xuất QR code</span>
                                </button>
                              </td>
                            </tr>
                            <% }) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <% include ../partials/footer %>
        <% include ./detailModal %>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <% include ../partials/logout %>
    <% include ../partials/scripts %>

    <!-- Page level custom scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <script src="/js/activity.js"></script>
  </body>
</html>
