<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <title>Quản lý hoạt động | Thêm hoạt động</title>

    <% include ../partials/css %>
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <% include ../partials/sidebar %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <% include ../partials/topbar %>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="d-sm-flex align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Tạo hoạt động mới </h6>
                                    </div>
                                </div>
                                <div class="card shadow mb-4">
                                    <!-- add activity input group -->
                                    <div style="width:80%; padding-top:15px; padding-left:20px">
                                        <b class="text-dark">Tên hoạt động: </b>
                                        <input autofocus id='txtbox-name' required="true" type="text" class="form-control" placeholder="Nhập tên hoạt động...">
                                        <span id="txtNameError" class="text-danger d-none">Không được để trống tên hoạt động</span>
                                        <div class="mt-3"><b class="text-dark">Mô tả hoạt động:</b></div>
                                        <div style='padding-top: 50px' class='summernote-add-description'></div>
                                        <button id='btn-submit'class="btn btn-primary my-2 px-5" type="button">Thêm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <% include ../partials/footer %>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <% include ../partials/logout %>
    <% include ../partials/scripts %>
    <!-- Page level custom scripts -->
    <script src="/js/activity.insert.js"></script>

</body>

</html>