<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
  <title>Thông kế tham gia hoạt động theo từng đơn vị</title>

  <% include ../partials/css %>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <% include ../partials/sidebar %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <% include ../partials/topbar %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Content Row -->
          <div class="row">
            <div class="col-lg-12">
              <!-- The Modal -->

              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <div class="d-sm-flex align-items-center justify-content-between text-primary">
                    <b>Thông kế tham gia hoạt động theo từng đơn vị</b>
                  </div>
                </div>

                  <div class="text-center">
                    <h5 class="pt-2 font-weight-bold text-dark">Hoạt động: <%- ward.activity.name %></h5>
                  </div>
                  <!-- main table -->
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>STT</th>
                            <th>Các đơn vị tham gia</th>
                            <th>Số người tham gia</th> 
                            <th>Hành động</th>                           
                          </tr>
                        </thead>
                        <tbody>
                          <% ward.wardJoined.map((item,index)=>{%>
                            <tr>
                              <td><%- index+1%></td>                            
                              <td style="width:40%"><%-item.ward.name%></td>
                              <td><%-item.numberJoined%></td>
                              <td>
                                <a href="/activities/<%- ward.activity._id %>/checkin-history?w=<%-item.ward._id %>" 
                                  class="btn btn-sm btn-primary">
                                    Chi tiết
                                </a>
                              </td>
                            </tr>
                          <%})%>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <% include ../partials/footer %>
      <% include ../partials/scripts %>
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

</body>

</html>