<div
  class="modal fade"
  id="create"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tạo thông báo mới</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/todo-list/<%- todoList._id %>">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="Title">Tên công việc<span class="text-danger">*</span></label>
                <input
                  type="text"
                  name="title"
                  required
                  class="form-control"
                  id="Title"
                />
              </div>
            </div>
            
          </div>

          <div class="form-group">
            <label for="description">Mô tả chi tiết<span class="text-danger">*</span></label>
            <textarea
              required='true'
              type="text"
              name="description"
              class="form-control"
              id="description"
              rows="3"
            ></textarea>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlFile1">Thông báo đến<span class="text-danger">*</span></label>          
                <select class="form-control" id="sl_wards" name="assignTo" required>
                  <!-- <option value="all" selected>Thông báo cho tất cả đơn vị</option> -->
                  <% users.map(item => { %>
                   <option value="<%- item._id %>"><%- item.fullname %> (<%- item.position %>)</option>
                  <% }) %>
                </select>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="deadline">Hạn chót<span class="text-danger">*</span></label>
                    <input
                      type="datetime-local"
                      name="deadline"
                      class="form-control"
                      required
                      id="deadline"
                    />
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row" style="width: 100%">
              <div class="col-12 text-right">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Đóng
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                >
                  Tạo mới
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>