<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Danh sách công việc</title>

    <% include ../partials/css %>
  </head>

  <body id="page-top">
    <div
      class="modal fade"
      id="delete-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Bạn có chắc muốn xóa ?
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Không thể hoàn tác sau khi xóa</div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary "
              type="button"
              data-dismiss="modal"
            >
              Hủy
            </button>
            <button
              id="btn-confirm-delete-task"
              data-dismiss="modal"
              class="btn btn-primary"
            >
              Xóa
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Wrapper -->
    <div id="wrapper">
      <% include ../partials/sidebar %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <% include ../partials/topbar %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Danh sách công việc</h1>
              <div class="float-right">
                <a href="/todo-list" class="btn btn-secondary btn-sm">Quay lại trang trước</a>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <div
                      class="d-sm-flex align-items-center justify-content-between"
                    >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Thông tin chi tiết
                      </h6>
                    </div>
                  </div>
                  <div class="card-body">
                    <b class="text-dark">Thời gian bắt đầu:</b>
                        <%- todoList.startTime.getDate() %>/
                        <%- todoList.startTime.getMonth() + 1%>/
                        <%- todoList.startTime.getFullYear() %>
                    <br> 
                    <b  class="text-dark">Thời gian kết thúc:
                        <%- todoList.endTime.getDate() %>/
                        <%- todoList.endTime.getMonth() + 1%>/
                        <%- todoList.endTime.getFullYear() %>
                    </b> 
                  </div>
                </div>
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">
                        Danh sách các công việc
                      </h6>
                      <button
                        id="btn-detail"
                        type="button"
                        class="btn btn-success btn-sm detail"
                        data-toggle="modal"
                        data-target="#create"
                      >
                        <span class="text">Thêm công việc</span>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th width="80px">STT</th>
                            <th>Tên công việc</th>
                            <th>Nội dung</th>
                            <th>Hạn chót</th>
                            <th>Tình trạng</th>
                            <th>Phân công</th>
                            <th width="120px">Hành động</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% todoList.tasks.map((item, index) => { %>
                          <tr>
                            <td>
                                <%- index + 1%>
                            </td>
                            <td>
                                <%- item.title %>
                            </td>
                            <td>
                                <%- item.description %>
                            </td>
                            <td>
                                <%- item.deadline.getDate() %>/
                                <%- item.deadline.getMonth() + 1%>/
                                <%- item.deadline.getFullYear() %>,
                                <%- item.deadline.getHours() % 12 %> :
                                <%- item.deadline.getMinutes() %>
                                <%- item.deadline.getHours() > 12 ? 'PM' : 'AM' %>
                            </td>
                            <td>
                                <%- item.status %>
                            </td>
                            <td>
                                <%- item.assignTo.fullname %>
                            </td>
                            <td>
                              <a
                                href="#"
                                class="btn btn-success btn-sm"
                                onclick="viewTask('<%- todoList._id %>','<%- item._id %>')"
                                data-toggle="modal"
                                data-target="#edit-task"
                              >
                                
                                Chỉnh sửa
                              </a>
                              <a
                                id-todo="<%- todoList._id%>"
                                id-task="<%- item._id %>"
                                data-toggle="modal"
                                data-target="#delete-modal"
                                id="btn-delete"
                                class="btn btn-danger btn-sm delete-task"
                              >
                                Xóa
                              </a>
                            </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <% include ../partials/footer %>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <% include ../partials/logout %> 
    <% include ../partials/scripts %>
    <script type="text/javascript" src="/js/prettify.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-multiselect.js"></script> 
    <% include ./createTasks %>
    <% include ./editTask %>
    <script type="text/javascript" src="/js/todoList.js"></script>
  </body>
</html>
